{% extends "main.html" %}
{% block header %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron text-center sunrisecover">
                <h1><a href="/feed" class="logolink"><span class="glyphicon glyphicon-flash"></span><span class="thisFont">TomattoBlogging</span></a>
                </h1>
            </div>
            <ul class="nav nav-pills nav-stacked" style="background-color:#fff;border-radius: 5px 5px 0 0;">
                <li role="presentation"><a href="/new"><span class="glyphicon glyphicon-edit"></span> New post</a></li>
                <hr/>
                <li role="presentation"><a href="/feed"> <span class="glyphicon glyphicon-fire"></span> Feed</a></li>
                <li role="presentation"><a href="/saved"><span class="glyphicon glyphicon-star"></span> Saved</a></li>
                <li role="presentation"><a href="/u/{{ user.username }}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                <hr/>
                <li role="presentation"><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li role="presentation"><a href="/accounts/logout"><span class="glyphicon glyphicon-off"></span>  Logout</a></li>
            </ul>
            <hr/>
            <div class="text-center text-muted">
                Made with ♥ in Finland
            </div>
        </div>
        <div class="col-md-8 rightpart2">
            {% block box %}
                <h1>Feed</h1>
                <div >
                    {% if p %}
                        {% for post in p %}
                            <div class="postcard">
                                <h3><a href="/post/{{ post.id }}">{{ post.title|capfirst }}</a></h3>
                                <p>{{ post.body|truncatewords:"50" }}</p>
                                <hr/>
                                <a href="/u/{{ post.user }}"><b>{{ post.user }}</b></a> posted <small><span class="thistime" data-livestamp="{{ post.timestamp|date:"U" }}" ></span></small>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="postcard text-center">No posts yet.. Create one <a href="/new">here</a>, be the first!</div>
                    {% endif %}
                </div>
                <nav>
                    <ul class="pager">
                        {% if p.has_previous %}
                            {% if p.previous_page_number == 1 %}
                                <li class="previous"><a href="/feed"><span aria-hidden="true">&larr;</span> Newer</a></li>
                            {% else %}
                                <li class="previous"><a href="?page={{ p.previous_page_number }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                            {% endif %}
                        {% endif %}
                        <li><span>Page {{ p.number }} of {{ p.paginator.num_pages }}</span></li>
                        {% if p.has_next %}
                            <li class="next"><a href="?page={{ p.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}