<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello World!</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	</head>
	<body class="bgHerePls">
		<div class="box">
			<div class="content">
                {% if user.is_authenticated %}
				    <h1>Hello {{ user.username }}!</h1>
                    <p><a href="/feed">Feed</a></p>
                    <p><a href="/accounts/logout">Logout</a></p>
                {% else %}
                    <h1>Welcome to <b>Tomattoo</b> Blogging!</h1>
                    <p><a href="/accounts/login">Login</a></p>
                    <p><a href="/accounts/register">Sign Up</a></p>
                    <p><a href="#">Help</a></p>
                {% endif %}
			</div>
		</div>
	</body>
</html>
